HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# MySQL database data
mysql_data/

### IntelliJ IDEA ###
application-db.yml
application-dev.yml
application-prod.yml
respawn-google-key.json
.idea
*.iws
*.iml
*.ipr
out/
src/main/resources/static/uploads/*
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
